@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand',Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}
img{max-width:100%;}